.one{
    text-align: center;
    font-size: 100px;
    animation: pabna 10s infinite alternate;
}

@keyframes pabna {
    0%{
        color: red;
        font-size: 200px;
        text-transform: uppercase;
        font-style: italic;
        
    }
    25%{
         color: greenyellow;
         font-size: 170px;
         text-transform: capitalize;
    }
    50%{
         color: blue;
         font-size: 140px;
         text-transform: lowercase;
    }
    75%{
         color: purple;
         font-size: 110px;
         text-transform: capitalize;
    }
    100%{
         color: yellow;
         font-size: 80px;
    }
}